<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <!--FormGroup Nome-->
    <!--Campo Nome-->
    <div class="form-group row" >
      <div class="col-sm-12">
        <label for="nome">Nome</label>
      </div>
      <div class="col-sm-12">
        <input type="text"
              [class.is-invalid]="formulario.get('nome').invalid && formulario.get('nome').touched" 
              [class.is-valid]="formulario.controls['nome'].valid && formulario.controls['nome'].touched" 
              class="form-control" 
              id="nome"
              placeholder="Nome" 
              formControlName="nome">
        <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
        <div class="valid-feedback">
          Its ok!
        </div>
      </div>
    </div>
    <!--FormGroup Email-->
    <!--Campo Email-->
    <div class="form-group row">
      <!--div class="col-sm-12">
        <label for="email">Email</label>
      </div>
      <div class="col-sm-12">
        <input class="form-control"
              type="email" 
              [ngClass]="aplicaCssFeedback('email')"
              id="email" 
              aria-describedby="emailHelp" 
              formControlName="email"
              placeholder="nome@gmail.com">
          <app-error-msg [control]="formulario.get('email')" label="Email"></app-error-msg>
          <div class="valid-feedback">
            Its ok!
          </div>
      </div-->
      <app-input-field class="col-sm-12"
                       formControlName="email"
                       [classeCss]="aplicaCssFeedback('email')"
                       id="email"
                       label="Email"
                       type="email"
                       [control]="formulario.get('email')">
      </app-input-field>

    </div>
    <!--FormGroup ConfirmarEmail-->
    <!--Campo ConfirmarEmail-->
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="confirmarEmail">Confirmar Email</label>
      </div>
      <div class="col-sm-12">
        <input class="form-control"
              type="email" 
              [ngClass]="aplicaCssFeedback('confirmarEmail')"
              id="confirmarEmail" 
              aria-describedby="emailHelp" 
              formControlName="confirmarEmail"
              placeholder="nome@gmail.com">
          <app-error-msg [control]="formulario.get('confirmarEmail')" label="COnfirmarEmail"></app-error-msg>
          <div class="valid-feedback">
            Its ok!
          </div>
      </div>
    </div>
    <!--FormGroup CEP/Numero/Complemento-->
    <div class="form-group row" formGroupName="endereco">  
      <!--Campo CEP-->
      <div class="col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input class="form-control"
               [ngClass]="aplicaCssFeedback('endereco.cep')"
               type="text"
               id="cep"
               formControlName="cep">
        <app-error-msg [control]="formulario.get('endereco.cep')" label="CeP"></app-error-msg>
        <div class="valid-feedback">
          Its ok!
        </div>
      </div>
      <!--Campo Numero-->
      <div class="col-md-3">
          <label for="numero" class="control-label">Número</label>
          <input class="form-control"
                 [ngClass]="aplicaCssFeedback('endereco.numero')"
                 type="text"
                 id="numero"
                 formControlName="numero">
          <app-error-msg [control]="formulario.get('endereco.numero')" label="Nome"></app-error-msg>
          <div class="valid-feedback">
            Its ok!
          </div>
      </div>
      <!--Campo Complemento-->
      <div class="col-md-6">
          <label for="complemento" class="control-label">Complemento</label>
          <input class="form-control"
                 type="text" 
                 id="complemento"
                 formControlName="complemento">
      </div>
    </div>
    <!--FormGroup Rua-->
    <!--Campo Rua-->
    <div class="form-group row" formGroupName="endereco">
        <div class="col-md-12">
          <label for="rua">Rua</label>
        </div>
        <div class="col-sm-12">
          <input type="text"
                class="form-control" 
                [ngClass]="aplicaCssFeedback('endereco.rua')"
                id="rua"
                formControlName="rua">
          <div class="invalid-feedback">
            Campo obrigatório!
          </div>
          <div class="valid-feedback">
            Its ok!
          </div>
        </div>
    </div>
    <!--FormGroup Bairro/Cidade/Estado-->
    <div class="form-group row" formGroupName="endereco">
        <!--Campo Bairro-->
        <div class="col-md-5">
          <label for="bairro" class="control-label">Bairro</label>
          <input class="form-control"
                 [ngClass]="aplicaCssFeedback('endereco.bairro')"
                 type="text" 
                 id="bairro"
                 formControlName="bairro">
          <div class="invalid-feedback">
            Bairro é obrigatório!
          </div>
          <div class="valid-feedback">
            Its ok!
          </div>
        </div>
        <!--Campo Cidade-->
        <div class="col-md-4">
            <label for="cidade" class="control-label">Cidade</label>
            <input class="form-control"
                   [ngClass]="aplicaCssFeedback('endereco.cidade')"
                   type="text" 
                   id="cidade"
                   formControlName="cidade">
            <div class="invalid-feedback">
              Cidade é obrigatório!
            </div>
            <div class="valid-feedback">
              Its ok!
            </div>
        </div>
        <!--Campo Estado-->
        <div class="col-md-3">
            <label for="estado" class="control-label">Estado</label>
            <select class="form-control"
                   [ngClass]="aplicaCssFeedback('endereco.estado')"
                   type="text"  
                   id="estado"
                   formControlName="estado">
            <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
            </select>
            <div class="invalid-feedback">
              Estado é obrigatório!
            </div>
            <div class="valid-feedback">
              Its ok!
            </div>
        </div>
    </div>
    <!--FormGroup Cargo/Tecnologias/Newsletter-->
    <div class="form-group row">
      <!--Select Cargos-->
      <div class="col-md-4">
        <label for="cargo" class="control-label">Cargo</label>
        <select class="form-control"
                id="cargo"
                formControlName="cargo"
                [compareWith]="compararCargos">
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
        </select>
      </div>    
      <!--Select Tecnologias-->
      <div class="col-md-4">
        <label for="tecnologia" class="control-label">Tecnologias</label>
        <select multiple class="form-control"
                id="tecnologias"
                formControlName="tecnologias">
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{tecnologia.desc}}</option>
        </select>
      </div>
      <!--Radio Newsletter-->
      <div class="col-md-3">
        <label for="newsletter" class="control-label">Newsletter</label>
        <div class="row" id="newsletter">
          <div class="col-sm-4" *ngFor="let opcaoNewsletter of newsletterOpcoes">
            <label class="radio-inline">
              <input type="radio"
                      [value]="opcaoNewsletter.nome"
                      formControlName="newsletter">
                      {{opcaoNewsletter.desc}}
            </label>
          </div>
        </div>
      </div>       
    </div>
    <!--FormGroup Termos/Frameworks-->
    <div class="form-group row">
      <!--Checkbox Acordo-->
      <div class="form-check col-md-3">
          <input class="form-check-input"
                 type="checkbox"
                 id="termos" 
                 formControlName="termos" 
                 [ngClass]="aplicaCssFeedback2('termos')">
          <label for="termos" class="form-check-label">Aceito os termos.</label>
          <div class="invalid-feedback">
            Por favor, aceite os termos!
          </div>
        </div>
      <!--Checkbox Frameworks-->
      <div class="form-check col-md-3">
        <label for="frameworks">Frameworks</label>
          <!--div que envolve todos os checkboxes-->
          <div id="frameworks" class="row">
            <!--div que envolve 1 ÚNICO checkbox-->
            <div class="checkbox col-sm-4"
                 formArrayName="frameworks"
                 *ngFor="let framework of formulario.get('frameworks').controls;
                         let k = index;">
                 <input class="form-check-input"
                 [ngClass]="aplicaCssFeedback('frameworks')"
                 type="checkbox"
                 [formControlName]="k"> {{frameworks[k]}}<!--frameworks eh o q estah no .component-->
                 <label class="form-check-label checkbox-inline"></label>                                                            
              <div *ngIf="k==(formulario.get('frameworks').value.length)-1" class="invalid-feedback">
                Selecione ao menos 1 framework!
              </div>
            </div>
          </div>
      </div>
    </div>
    
  <button style="margin: 2px;" type="submit" class="btn btn-primary" >Enviar</button>
  <button style="margin: 2px;" type="button" class="btn btn-danger" (click)="resetForm()">Cancelar</button>
  <button style="margin: 2px;" type="button" class="btn btn-info" (click)="setarCargo()">Cargo</button>
  <button style="margin: 2px;" type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
</form>
<app-test-debug [variavelInputProperty]="formulario"></app-test-debug>